* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Trebuchet MS', 'Lucidia Sans Unicode',
'Lucidia Grande',
'Lucidia Sans', Arial, sans-serif;
}

nav {
height: 80px;
background-color: yellow;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0rem calc((100vw - 1300px) / 2);
}
 .logo {
color: #000;
font-size: 1.5rem;
font-weight: bold;
font-style: italic;
padding: 0 2rem;
 }

 nav a {
text-decoration: none;
color:#000
padding 0 1.5rem;
 }
nav a:hover {
   color: #fff
}
 .Grid-layout {
display: grid;
grid-template-columns: 1fr 1fr;
height: 95vh;
padding:3rem calc((100vw - 1300px) / 2);
 }

 .column-left h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
 }

 .column-left h1 {
    margin-bottom: 1 rem;
    font-size: 3rem;
 }

 .column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
 }

 button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: yellow;
    background: black;
    cursor: pointer;
    border-radius: 50px;
 }

 button:hover {
    background: #7f7777;
    color: #010101;
 }

 .column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: orem 2 rem;
 }
 .bild-image {
   width: 100%;
   height: 100%;
   float: right;
 }
 
 @media screen and (max-width: 768px) {
.column {
   grid-template-columns: 1fr;
   padding: 1rem;
}
 }

body {
   background-color: #fff;
}

.footer {
   background-color: yellow; /* Mörk bakgrundsfärg */
   color: #000000; /* Vit textfärg */
   padding: 2rem 0; /* Utrymme ovanför och under */
   text-align: center; /* Centrera texten */
}

.footer-content {
   max-width: 1200px; /* Maximal bredd för innehållet */
   margin: 0 auto; /* Centrera innehållet */
   padding: 0 2rem; /* Sidopadding */
}

.footer-links {
   list-style: none; /* Ingen punktlista */
   padding: 0; /* Ingen padding */
   margin-top: 1rem; /* Avstånd över länkarna */
}

.footer-links li {
   display: inline; /* Gör länkarna horisontella */
   margin: 0 1rem; /* Utrymme mellan länkarna */
}

.footer-links a {
   color: #000000; /* färg för länkar */
   text-decoration: none; /* Ta bort understrykning */
}

.footer-links a:hover {
   text-decoration: underline; /* Understrykning vid hover */
}
